{% extends 'base.html' %} {% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      {% for post in posts %}
      <li>
        {{post.title}} <br />
        {{ post.body }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
{% endcomment %} {% block content %}
<h1>Posts</h1>
<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article-ditail' post.pk %}">{{ post.title }}</a>
    <p>{{ post.body|slice:":200"|safe }}</p>
    {% if user.is_authenticated %} {% if user.id == post.author.id %} -
    <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
    -
    <small
      ><a href="{% url 'update_post' post.pk %}"
        >Edit <i class="bi bi-pencil-square"></i></a
    ></small>
    -
    <small style="color: red; text-decoretion: none"
      ><a href="{% url 'delete_post' post.pk %}"
        >Delete <i class="bi bi-trash"></i></a
    ></small>
    {% endif %} {% endif %}
    <br />
    {{ post.publish}}
  </li>
  {% endfor %}
</ul>

{% endblock %}
